<!-- Contenido del pie de la página-->
<footer class="footer">
    <!-- Contenedor principal del footer -->
    <div class="footer__content">
      <!-- Texto de copyright -->
      <p class="footer__copyright">© 2024 Alberto Lago Martín.</p>
      <!-- Lista de enlaces del footer (políticas, términos, contacto) -->
      <ul class="footer__links">
        <!-- Enlace a la política de privacidad -->
        <li class="footer__links__item"><a href="#" class="footer__links__link">Política de privacidad</a></li>
        <!-- Barra separadora -->
        <li class="footer__links__item">|</li>
        <!-- Enlace a los términos y condiciones -->
        <li class="footer__links__item"><a href="#" class="footer__links__link">Términos y condiciones</a></li>
        <!-- Barra separadora -->
        <li class="footer__links__item">|</li>
        <!-- Enlace a la página de contacto -->
        <li class="footer__links__item"><a href="#" class="footer__links__link">Contacto</a></li>
      </ul>
    </div>
</footer>
